<h3 class="display-4 text-center">Nova categoria</h3>

<section class="card">

<form class="card-body" action="/admin/categorias/nova " method="post">
    <label for="nome">Nome: </label>
    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome da categoria.">
    <label for="slug">Slug: </label>
    <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug da categoria">
    <button class="btn btn-success mt-5">Criar categoria</button>
</form>

</section>